---
const { title, id } = Astro.props;
---

<section class="mb-20" id={id}>
  <h2 class="text-6xl font-bold">{title}</h2>
  <div
    class="h-2 mt-2 mb-10 bg-gradient-to-r from-[#FF99C9] via-[#C1BDDB] to-[#A2C7E5] w-28"
  >
  </div>
  <slot />
</section>
