---

---

<section
  class="flex justify-between mt-40 mb-10 py-10 px-16 items-center rounded-xl bg-primary"
>
  <div>
    <h2 class="font-bold text-5xl">Thinking about working together?</h2>
    <p class="text-4xl">Send me a message!</p>
  </div>
  <div>
    <a
      href="mailto:stevennguyen56@gmail.com"
      class="bg-accent hover:bg-white text-black font-semibold rounded transition-all py-3 px-10"
      >CONTACT ME</a
    >
  </div>
</section>
