---
import Container from "./Container.astro";
import ProjectCard from "./ProjectCard.astro";

const { title, data = [] } = Astro.props;
---

<Container title={title}>
  {
    data.map((project: any) => (
      <div class="grid grid-cols-4">
        <ProjectCard project={project} />
      </div>
    ))
  }
</Container>
