---
import Container from "./Container.astro";
import ProjectCard from "./ProjectCard.astro";

const { title, id, data = [] } = Astro.props;
---

<Container title={title} id={id}>
  <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-10">
    {data.map((project: any) => <ProjectCard project={project} />)}
  </div>
</Container>
