---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Steven Nguyen - Software Engineer and Web Developer."
    />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://snguyen56.github.io/" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Steven Nguyen - Software Engineer & Fullstack Web Developer"
    />
    <meta
      property="og:description"
      content="Steven Nguyen - Software Engineer  and Web Developer."
    />
    <meta
      property="og:image"
      content="https://snguyen56.github.io//website_preview.png"
    />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="snguyen56.github.io" />
    <meta property="twitter:url" content="https://snguyen56.github.io/" />
    <meta
      name="twitter:title"
      content="Steven Nguyen - Software Engineer & Fullstack Web Developer"
    />
    <meta
      name="twitter:description"
      content="Steven Nguyen - Software Engineer  and Web Developer."
    />
    <meta
      name="twitter:image"
      content="https://snguyen56.github.io/website_preview.png"
    />
    <title>{title}</title>
  </head>
  <body class="container mx-auto bg-background text-white">
    <header>
      <Navbar />
    </header>
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
